*{
    margin: 0;
    padding: 0;
}

.text_index {
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(218, 32, 32);
}
.container_icon ul li{
    list-style: none;
    float: left;
}
.container_icon{
    display: flex;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 0px;
}
.container_icon ul{
    padding: 0px;
}
.main_title{
    margin: auto;
    padding: 0px 0px 60px 0px;
    margin-right: 40px;
    font-size: 45px;
    color: brown;
}

.mobile_myportfolio_title{
    font-size: 25px;
    transition: 0.5s;
    color: rgb(86, 103, 129);
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*------------------------flex--------------------------*/
.flex_contain{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.flexitem_1{
    margin-left: 60px;
    border: 3px solid rgb(86, 103, 129);
    background-color: rgb(236, 243, 255);
    width: 520px;
    height: 250px;
    border-radius: 25px 25px 0 0;
    padding: 10px;
    box-sizing: border-box;
}
.flexitem_2{
    display: flex;
    justify-content: center;
    margin-right: 60px;
    padding: 5px;
    border: 3px solid rgb(86, 103, 129);
    background-color: rgb(236, 243, 255);
    width: 340px;
    height: 250px;
    border-radius: 10px;
    box-sizing: border-box;
    object-fit: contain;
}

.flexitem_3{
    margin-left: 50px;
    margin-top: 20px;
    display: flex;

    border: 3px solid rgb(86, 103, 129);
    background-color: rgb(236, 243, 255);
    padding: 10px;
    width: 660px;
    height: 175px;
    border-radius: 10px;
    box-sizing: border-box;
}
.flexitem_4{
    margin-right: 55px;
    margin-top: 20px;
    border: 3px solid rgb(86, 103, 129);
    background-color: rgb(236, 243, 255);
    width: 200px;
    height: 120px;
    border-radius: 15px;
    box-sizing: border-box;
    overflow: hidden;
}
.flexitem_btn{
    display: inline;
    background-color: rgb(186, 128, 240);
    box-sizing: border-box;
}
/*-----------------------------------------------------*/
.img_icon{
    padding: 5px;
    margin: 20px;
    box-sizing: border-box;
}
.footer_contact{
    display: flex;
    padding: 20px;
    justify-content: center;
    margin: 80px auto;
    gap: 75px;
    width: 80%;
    border: 3px solid rgb(86, 103, 129);
    background-color: rgb(236, 243, 255);
    border-radius: 15px;
    box-sizing: border-box;
}

/*----------------other pages----------------*/
.textodepag5 {
    color: white;
}
.flex_about img{
    filter: drop-shadow(10px 10px 15px black);
}
.body_pagina5{
    background-color: rgb(162, 174, 241);
}
.textodepag4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}
/*---------------Sobre mi---------------*/
.espacio_en_blanco{
    background-color: gray;
}
.flex_about{
    display: flex;
    height: 200px;
    margin: 50px 125px;
}
.flex_about h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    padding: 70px 0px 0px 55px;

}
.about_information{
    margin: 55px 100px;
    font-size: 20px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
}
.about_knowledge{
    margin-top: 150px;
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    grid-template-areas: 
    'about_subtitle about_subtitle about_subtitle'
    'about_img      about_img2     about_img3';
}
.about_subtitle{
    font-size: 40px;
    grid-area: about_subtitle;
}
.about_img1{
    grid-area: about_img;
    background-color: blue;
}
.about_img2{
    grid-area: about_img2;
    background-color: blueviolet;
}
.about_img3{
    grid-area: about_img3;
    background-color: green;
}
.nav-item_paddingleft{
    margin-left: 90px;
}
/*-------------proyectos------------*/
.projects_title{
    display: flex;
    justify-content: center;
    font-size: 70px;
    margin: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 10px;
}
.projects_contain{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px 250px 250px;
    gap: 55px 35px;
}
.projects_item{
    border: 3px solid rgb(86, 103, 129);
    background-color: rgb(236, 243, 255);
    border-radius: 15px;
}

/*------------Media queries-------------*/
.responsive_nav{
    display: none;
}
.icon_mobile_portfolio{
    margin: 5px 20px;
}
.navbar_m{
    margin: 0px 10px;
}
.button_border_m{
    border: 2px solid rgb(86, 103, 129);
    border-radius: 15px;
}

.nav-link_whitechange{
    color: rgb(86, 103, 129);
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
}
.selected{
    color:rgb(86, 103, 129);
    font-weight: 700;
}
.selected:hover{
    color: black;
    font-weight: 700;
    transition: 0.2s;
}
.no_selected{
    color: rgb(86, 103, 129);
    font-weight: 400;
}
.no_selected:hover{
    color:rgb(35, 42, 53);
    font-weight: 400;
    transition: 0.075s;
}




.container_fluid_colorchange{
    background-color: rgb(236, 243, 255);
    border: 3px solid rgb(86, 103, 129);
    box-sizing: border-box;
    border-radius: 15px;
}

@media (max-width: 992px){
    .container_icon{
        display: none;
        background-color: blue;
    }
    .responsive_nav{
        display: block;
    }

    .flex_contain{
        margin-top: 25px;
    }
    .flexitem_1{
        justify-content: center;
    }
    .flexitem_2{
        margin-top: 50px;
    }
    .flex_contain{
        display: inline-block;
        justify-content: center;
    }
}









