*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to bottom, #D6E1F3,#FAF9FE);
    background-attachment: fixed;
}
/*------------------------Index--------------------------*/
.text_index {
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(218, 32, 32);
}
.container_icon ul li{
    list-style: none;
    float: left;
}
.img_icon{
    padding: 5px;
    margin: 20px;
    box-sizing: border-box;
    transition: 0.2s;
}
.img_icon:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.container_icon{
    background-image: url('../imagenes/nav_bar.png');
    height: 146px;
    display: flex;
    box-sizing: border-box;
    padding-left: 20px;
    margin-bottom: 30px;
}
.container_icon ul{
    padding: 0px;
}
.main_title{
    width: 300px;
    margin: auto;
    padding-left: 30px;
}

.mobile_myportfolio_title{
    font-size: 25px;
    transition: 0.5s;
    color: rgb(86, 103, 129);
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer_contact{
    display: flex;
    padding: 20px;
    justify-content: center;
    margin: 80px auto;
    gap: 75px;
    width: 80%;
    border: 2px solid rgb(86, 103, 129);
    background-color: rgb(236, 243, 255);
    border-radius: 15px;
    box-sizing: border-box;
    transition: 0.2s;
}
.img_footer{
    transition: 0.2s;
}
.img_footer:hover{
    transform: scale(1.1);
    transition: 0.2s;
}




/*------------------------Index flex--------------------------*/
.flex_contain{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0px;
    gap: 50px;
}
.flexitem_1{
    margin-left: 60px;
    border: 2px solid rgb(86, 103, 129);
    background-color: rgb(236, 243, 255);
    width: 520px;
    height: 250px;
    border-radius: 15px 15px 0 0;
    padding: 10px;
    box-sizing: border-box;
    text-shadow: 2px 4px 4px rgb(86, 103, 129, 1);
    overflow: hidden;
}
.flexitem_1_p1{
    margin: -12px;
    padding: 10px;
    background-color: #EAF0FC;
    border: 2px solid #4D5C73;
    width: 521px;
    overflow: hidden;
}
.flexitem_1_p2 p{
    height: 20px;
    margin-top: 20px;
}
.flexitem_1_p3{
    display: none;
}
.flexitem_1_img{
    margin-top: -5px;
    filter: drop-shadow(5px 5px 5px rgb(86, 103, 129));
}
.flexitem_2{
    display: flex;
    justify-content: center;
    margin-right: 60px;
    padding: 5px;
    border: 2px solid rgb(86, 103, 129);
    background-color: rgb(236, 243, 255);
    width: 340px;
    height: 250px;
    border-radius: 10px;
    box-sizing: border-box;
    object-fit: contain;
}
.flexitem_2 img{
    width: 320px;
    height: 200px;
    border: 2px solid rgb(86, 103, 129);
    background-color: rgb(236, 243, 255);
    border-radius: 10px;
}

.flexitem_3{
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
    border: 2px solid rgb(86, 103, 129);
    background-color: rgb(236, 243, 255);
    padding: 10px;
    width: 620px;
    height: 120px;
    border-radius: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}
.flexitem_4{
    margin-right: 55px;
    margin-top: 20px;
    border: 2px solid rgb(86, 103, 129);
    background-color: rgb(236, 243, 255);
    width: 200px;
    height: 120px;
    border-radius: 15px;
    box-sizing: border-box;
    overflow: hidden;
}
.flexitem_3 button{
    height: 100px;
    width: 100px;
    display: inline;
    background-color: rgb(186, 128, 240);
    border: 2px solid rgb(153, 172, 201);
    border-radius: 10px;
    overflow: hidden;
}
.flexitem_3 button img{
    margin: -10px;
}
.flexitem_3 div{

    width: 80%;
    height: 120px;
    margin-left: -10px;
    padding: 15px 10px;
}
.flexitem_3 div input{
    margin-left: -5px;
    margin-top: -15px;
    width: 525px;
}
/*------------------------Sobre mi--------------------------*/
.espacio_en_blanco{
    background-color: gray;
}
.flex_about img{
    filter: drop-shadow(10px 10px 15px black);
}
.flex_about{
    display: flex;
    height: 200px;
    margin: 50px 125px;
}
.flex_about h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    padding: 70px 0px 0px 55px;
    text-shadow: 4px 6px 4px rgba(0, 0, 0, 0.5);
}
.about_information{
    margin: 55px 100px;
    font-size: 20px;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
}
.about_knowledge{
    margin-top: 150px;
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    grid-template-areas: 
    'about_subtitle about_subtitle about_subtitle'
    'about_img      about_img2     about_img3';
}
.about_subtitle{
    font-size: 40px;
    grid-area: about_subtitle;
}
.about_img1{
    grid-area: about_img;
    background-color: blue;
}
.about_img2{
    grid-area: about_img2;
    background-color: blueviolet;
}
.about_img3{
    grid-area: about_img3;
    background-color: green;
}
.nav-item_paddingleft{
    margin-left: 90px;
}
/*------------------------Proyectos--------------------------*/
.projects_title{
    display: flex;
    justify-content: center;
    font-size: 70px;
    margin: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 10px;
    text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.5);
}
.projects_contain{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px 250px 250px;
    gap: 55px 35px;
}
.projects_item{
    border: 3px solid rgb(86, 103, 129);
    background-color: rgb(236, 243, 255);
    border-radius: 15px;
}
.extra_item{
    display: none;
}
/*--------------------------Location----------------------------*/

.location_content h1{
    font-size: 70px;
    text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;

}
.location_content div{
    margin: 50px;
    display: flex;
    justify-content: space-around;
    gap: 25px;
}
.location_text{
    background-color: blue;
    font-size: 20px;
    width: 25rem;
    height: 35rem;
    padding: 20px;
    border: 3px solid rgb(86, 103, 129);
    background-color: rgb(236, 243, 255);
    border-radius: 10px;
    overflow:auto;
}
.location_content div iframe{
    width: 25rem;
    height: 35rem;
    border: 10px;
}
/*------------------------Video5--------------------------*/


/*------------------------Change boots--------------------------*/
.responsive_nav{
    display: none;
}
.icon_mobile_portfolio{
    margin: 5px 20px;
}
.navbar_m{
    margin: 0px 10px;
}
.button_border_m{
    border: 2px solid rgb(86, 103, 129);
    border-radius: 15px;
}
.nav-link_whitechange{
    color: rgb(86, 103, 129);
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
}
.selected{
    color:rgb(86, 103, 129);
    font-weight: 700;
    transition: 0.2s;
}
.selected:hover{
    color: black;
    font-weight: bold;
    transition: 0.2s;
}
.no_selected{
    color: rgb(86, 103, 129);
    font-weight: 400;
    transition: 0.2s;
}
.no_selected:hover{
    color:black;
    transition: 0.2s;
}
.container_fluid_colorchange{
    margin: auto;
    width: 80%;
    background-color: rgb(236, 243, 255);
    border: 3px solid rgb(86, 103, 129);
    box-sizing: border-box;
    border-radius: 15px;
}
/*------------------------Media queries--------------------------*/
@media (max-width: 992px){
    /*------------------------Index--------------------------*/
    .container_icon{
        display: none;
        background-color: blue;
    }
    .flex_contain{
        margin-top: 35px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .flexitem_1{
        margin: auto;
        width: 80%;
        height: 700px;
        border-radius: 15px;
    }
    .flexitem_1_p1{
        display: none;
    }
    .flexitem_1_p2{
        display: none;
    }
    .flexitem_1_p3{
        display: inline;
    }
    .flexitem_2{
        display: none;
    }
    .flexitem_3{
        display: none;
    }
    .flexitem_4{
        display: none;
    }
    .footer_contact_index{
        margin-top: 20px;
    }
    /*------------------------Sobre mi--------------------------*/


    /*------------------------Proyectos--------------------------*/

    .projects_title{
        font-size: 50px;
        margin-top: 50px;
    }
    .projects_contain{
        margin: auto;
        justify-content: center;
        grid-template-columns: 250px 250px;
        grid-template-rows: repeat(5, 250px);
    }
    .extra_item{
        display: block;
    }
    /*------------------------Location--------------------------*/
    .location_text{
        font-size: 20px;
        width: 50%;
        padding: 10px;
        overflow:scroll;
    }
    .location_content div iframe{
        width: 50%;
    }
    /*------------------------Change boots--------------------------*/
    .responsive_nav{
        display: block;
    }
    
}









