*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to bottom, #D6E1F3,#FAF9FE);
    background-attachment: fixed;
}
/*------------------------Index--------------------------*/
.text_index {
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container_icon ul li{
    list-style: none;
    float: left;
}
.img_icon{
    padding: 5px;
    margin: 20px;
    box-sizing: border-box;
    transition: 0.2s;
}
.img_icon:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.container_icon{
    background-image: url('../imagenes/nav_bar.png');
    height: 146px;
    display: flex;
    box-sizing: border-box;
    padding-left: 20px;
    margin-bottom: 30px;
}
.container_icon ul{
    padding: 0px;
}
.main_title{
    width: 300px;
    margin: auto;
    padding-left: 30px;
}

.mobile_myportfolio_title{
    font-size: 25px;
    transition: 0.5s;
    color: rgb(86, 103, 129);
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer_contact{
    display: flex;
    padding: 20px;
    justify-content: center;
    margin: 80px auto;
    gap: 75px;
    width: 80%;
    border: 2px solid rgb(86, 103, 129);
    background-color: rgb(236, 243, 255);
    border-radius: 15px;
    box-sizing: border-box;
    transition: 0.2s;
}
.img_footer{
    transition: 0.2s;
}
.img_footer:hover{
    transform: scale(1.1);
    transition: 0.2s;
}




/*------------------------Index flex--------------------------*/
.flex_contain{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0px;
    gap: 50px;
}
.flexitem_1{
    margin-left: 60px;
    border: 2px solid rgb(86, 103, 129);
    background-color: rgb(236, 243, 255);
    width: 520px;
    height: 250px;
    border-radius: 15px 15px 0 0;
    padding: 10px;
    box-sizing: border-box;
    text-shadow: 2px 4px 4px rgb(86, 103, 129, 1);
    overflow: hidden;
}
.flexitem_1_p1{
    margin: -12px;
    padding: 10px;
    background-color: #EAF0FC;
    border: 2px solid #4D5C73;
    width: 521px;
    overflow: hidden;
}
.flexitem_1_p2 p{
    height: 20px;
    margin-top: 20px;
}
.flexitem_1_p3{
    display: none;
}
.flexitem_1_img{
    margin-top: 2rem;
    animation-name: intro;
    animation-iteration-count: infinite;
    animation-duration: 12s;
}
@keyframes intro {
    0%{
        background-image: url('../imagenes/presentation1.png');
    }
    30%{
        background-image: url('../imagenes/presentation1.png');
    }
    35%{
        background-image: url('../imagenes/presentation2.png');
    }
    60%{
        background-image: url('../imagenes/presentation2.png');
    }
    65%{
        background-image: url('../imagenes/presentation3.png');
    }
    95%{
        background-image: url('../imagenes/presentation3.png');
    }
    100%{
        background-image: url('../imagenes/presentation1.png');
    }
}
.flexitem_1_p4{
    display: none;
}
.media_btn_flex3{
    display: none;
}
.flexitem_2{
    display: flex;
    justify-content: center;
    margin-right: 60px;
    padding: 5px;
    border: 2px solid rgb(86, 103, 129);
    background-color: rgb(236, 243, 255);
    width: 340px;
    height: 250px;
    border-radius: 10px;
    box-sizing: border-box;
    object-fit: contain;
}
.flexitem_2 img{
    width: 320px;
    height: 200px;
    border: 2px solid rgb(86, 103, 129);
    background-color: rgb(236, 243, 255);
    border-radius: 10px;
}

.flexitem_3{
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
    border: 2px solid rgb(86, 103, 129);
    background-color: rgb(236, 243, 255);
    padding: 10px;
    width: 620px;
    height: 120px;
    border-radius: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.flexitem3_text{
    font-size: 20px;
    display: inline;
    justify-content: space-around;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
}
.flexitem3_img{
    margin-right: 20px;
}
.flexitem_3_div{
    display: flex;
    justify-content: space-around;
}
.flexitem_3_btn{
    transition: 0.2s;
}
.flexitem_3_btn:hover{
    transform: scale(1.05);
    transition: 0.2s;
}


.flexitem_4{
    margin-right: 55px;
    margin-top: 20px;
    border: 2px solid rgb(86, 103, 129);
    background-color: rgb(236, 243, 255);
    width: 200px;
    height: 120px;
    border-radius: 15px;
    box-sizing: border-box;
    overflow: hidden;
}
.flexitem_3 button{
    height: 100px;
    width: 100px;
    display: inline;
    border: 2px solid rgb(153, 172, 201);
    border-radius: 10px;
    overflow: hidden;
}
.flexitem_3 button img{
    margin: -10px;
}
.flexitem_3 div{

    width: 80%;
    height: 120px;
    margin-left: -10px;
    padding: 15px 10px;
}
.flexitem_3 div input{
    margin-left: -5px;
    margin-top: -15px;
    width: 525px;
}
/*------------------------Sobre mi--------------------------*/
.espacio_en_blanco{
    background-color: gray;
}
.flex_about img{

    filter: drop-shadow(10px 10px 15px black);
}
.flex_about{
    display: flex;
    justify-content: space-around;
    height: 200px;
    margin: 50px 125px;
}
.flex_about h1{
    width: 50%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    padding: 70px 0px;
    text-shadow: 4px 6px 4px rgba(0, 0, 0, 0.5);
}
.about_information{
    margin: 55px 100px;
    font-size: 20px;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
}
/*
.about_knowledge{
    margin-top: 120px;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    grid-template-areas: 
    'about_subtitle about_subtitle about_subtitle'
    'about_img      about_img2     about_img3';
}
*/
.about_knowledge_1{
    margin-top: 5rem;
}
.about_knowledge_2{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 50px;
}

.about_subtitle{
    text-align: center;
    font-size: 40px;
    grid-area: about_subtitle;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
}
.about_img1{
    grid-area: about_img;
}
.about_img2{
    grid-area: about_img2;
}
.about_img3{
    grid-area: about_img3;
}
.nav-item_paddingleft{
    margin-left: 90px;
}
/*------------------------Proyectos--------------------------*/
.projects_title{
    display: flex;
    justify-content: center;
    font-size: 70px;
    margin: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 10px;
    text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.5);
}
.projects_contain{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px 250px 250px;
    gap: 55px 35px;
}
.projects_item{
    border: 2px solid rgb(86, 103, 129);
    background-color: rgb(236, 243, 255);
    filter: drop-shadow(5px 5px 5px rgb(86, 103, 129));
    border-radius: 15px;
    transition: 0.5s;
}
.projects_item:hover{
    transition: 0.5s;
    transform: scale(1.05);
}
.extra_item{
    display: none;
}
/*--------------------------skills----------------------------*/

.skills_content h1{
    margin-top: -1rem;
    text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.carusel_container{
    border: 3px solid rgb(86, 103, 129);
    border-radius: 15px;
    margin: auto;
    width: 623px;
    box-sizing: border-box;
}



/*------------------------contacto--------------------------*/
.body_contacto{
    background-image: url('../imagenes/bg_inter.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}
.contact_content_main{
    background-color: rgb(236, 243, 255);
    border: 2px solid rgb(86, 103, 129);
    border-radius: 0px 50px 0px 50px;
    margin: 0px 10rem 0px 10rem;
}
.contact_title{
    padding: 20px;
    text-align: center;
    text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.5);
}
.contact_content{
    padding: 35px;
    margin-top: -3rem;
}
.form_mod{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact_name{
    width: 45%;
    margin-bottom: 25px;
}
.contact_email{
    margin-bottom: 25px;
    width: 45%;
}
.contact_msn{
    width: 95%;
}
.btn_submit_mod{
    width: 30%;
    border: 2px solid rgb(86, 103, 129);
    background-color: rgb(86, 103, 129);
    transition: 0.2s;
}
.btn_submit_mod:hover{
    transform: scale(1.03);
    transition: 0.2s;
    color: rgb(86, 103, 129);
    border: 2px solid rgb(86, 103, 129);
    background-color: white;
}
.input_mod{
    border: 2px solid rgb(86, 103, 129);
}

/*------------------------Change boots--------------------------*/
.responsive_nav{
    display: none;
}
.icon_mobile_portfolio{
    margin: 5px 20px;
}
.button_border_m{
    border: 2px solid rgb(86, 103, 129);
    border-radius: 15px;
}
.nav-link_whitechange{
    color: rgb(86, 103, 129);
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
}
.selected{
    color:rgb(86, 103, 129);
    font-weight: 700;
    transition: 0.2s;
}
.selected:hover{
    color: black;
    font-weight: bold;
    transition: 0.2s;
}
.no_selected{
    color: rgb(86, 103, 129);
    font-weight: 400;
    transition: 0.2s;
}
.no_selected:hover{
    color:black;
    transition: 0.2s;
}
.container_fluid_colorchange{
    margin: auto;
    width: 80%;
    background-color: rgb(236, 243, 255);
    border: 3px solid rgb(86, 103, 129);
    box-sizing: border-box;
    border-radius: 15px;
}
/*------------------------Media queries--------------------------*/
@media (max-width: 992px){
    /*------------------------Index--------------------------*/
    .container_icon{
        display: none;
        background-color: blue;
    }
    .flex_contain{
        margin-top: 35px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .flexitem_1{
        margin: auto;
        width: 80%;
        height: 500px;
        border-radius: 15px;
        align-items: center;
    }
    .flexitem_1_p1{
        display: none;
    }
    .flexitem_1_p2{
        display: none;
    }
    .flexitem_1_p3{
        display: flex;
        text-align: center;
        font-size: 25px;
        margin-top: 3rem;
    }
    .flexitem_1_p4{
        display: flex;
        margin-top: 4rem;
        justify-content: space-around;
    }
    .flexitem_2{
        display: none;
    }
    .flexitem_3{
        display: none;
    }
    .flexitem_4{
        display: none;
    }
    .footer_contact_index{
        margin-top: 20px;
    }
    .media_btn_flex3{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 3rem;
    }
    .media_btn_flex3 button{
        border: 2px solid rgb(153, 172, 201);
        border-radius: 10px;
        overflow: hidden;
        transition: 0.2s;
    }
    .media_btn_flex3 button:hover{
        transform: scale(1.05);
        transition: 0.2s;
    }

    /*------------------------Sobre mi--------------------------*/


    /*------------------------Proyectos--------------------------*/

    .projects_title{
        font-size: 50px;
        margin-top: 50px;
    }
    .projects_contain{
        margin: auto;
        justify-content: center;
        grid-template-columns: 250px 250px;
        grid-template-rows: repeat(5, 250px);
    }
    .extra_item{
        display: block;
    }
    /*------------------------skills--------------------------*/
    .skills_content h1{
        margin-top: 3px;
        font-size: 25px;
        text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.5);
        text-align: center;
    }
    .carusel_container{
        border: 3px solid rgb(86, 103, 129);
        border-radius: 15px;
        margin: auto;
        width: 623px;
        box-sizing: border-box;
    }
    /*------------------------contact--------------------------*/
    .contact_title{
        font-size: 2rem;
        padding: 20px;
        text-align: center;
        text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.5);
    }
    .contact_content_main{
        margin-top: 20px;
    }
    .contact_name{
        margin: -1rem 0px 25px 0px;
    }
    .contact_email{
        margin: -1rem 0px 25px 0px;
    }
    .textarea_mod{
        height: 6rem;
    }
    /*------------------------Change boots--------------------------*/
    .responsive_nav{
        display: block;
    }
    
}
.next_icon_mod{
    height: 50px;
    width: 50px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-right-circle-fill' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/%3E%3C/svg%3E%0A");
}
.prev_icon_mod{
    height: 50px;
    width: 50px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-left-circle-fill' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z'/%3E%3C/svg%3E%0A");
}
.navbar_m_b{
    margin-right: 20px;
}
.navbar_m{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-list-ul' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z'/%3E%3C/svg%3E%0A");
}






