$color-one: rgb(86, 103, 129);
$color-two: rgb(236, 243, 255);
$txt-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
$brdr: 2px solid rgb(86, 103, 129);
$img-shadow: drop-shadow(10px 10px 15px black);
$tras: 0.2s;
$transf: (1.1);




