.espacio_en_blanco{
    background-color: gray;
}
.flex_about {
    img{
        filter: $img-shadow;
    }
}
.flex_about{
    display: map-get($group, dpflex);
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    margin: 50px 125px;
    h1{
        text-align: start;
        font-family: nth($long, 4);
        font-size: 4rem;
        text-shadow: $txt-shadow;
    }
    @media (max-width: 992px){
        display: flex;
        flex-wrap: wrap;
        margin: 2rem auto;
        h1{
            height: 50px;
            font-size: 2rem;
            text-align: center;
            padding: 0px;
        }
    }
}
.about_information{
    margin: 55px 100px;
    font-size: 20px;
    text-shadow: $txt-shadow;
    @media (max-width: 992px){
        margin: auto;
        width: 90%;
    }
}
.about_knowledge_1{
    margin-top: 5rem;
    @media (max-width: 992px){
        margin-top: 2rem;
    }
}
.about_knowledge_2{
    display: map-get($group, dpflex);
    justify-content: center;
    margin-top: 3rem;
    gap: 50px;
    @media (max-width: 992px){
        margin: 2rem 20px;
        display: flex;
        flex-wrap: wrap;
    }
}
.about_subtitle{
    text-align: center;
    font-size: 3rem;
    grid-area: about_subtitle;
    text-shadow: $txt-shadow;
    @media (max-width: 992px){
        font-size: 2rem;
    }
}
.about_img1{
    grid-area: about_img;
}
.about_img2{
    grid-area: about_img2;
}
.about_img3{
    grid-area: about_img3;
}
.nav-item_paddingleft{
    margin-left: 90px;
}
.icon_mobile_portfolio{
    margin: 5px 20px;
}
.container_fluid_colorchange{
    margin: auto;
    width: 80%;
    background-color: $color-two;
    border: 3px solid $color-one;
    box-sizing: border-box;
    border-radius: 15px;
}
.mobile_myportfolio_title{
    font-size: 25px;
    transition: 0.5s;
    color: $color-one;
    text-shadow: $txt-shadow;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar_m_b{
    margin-right: 20px;
}
.navbar_m{
    background-image: nth($long, 1);
}