*{
    margin: 0;
    padding: 0;
}
body{
    background-image: red;
    background-attachment: fixed;
}
.text_index {
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container_icon{
    background-image: url('../imagenes/nav_bar.png');
    height: 146px;
    display: map-get($group, dpflex);
    @extend %box-si;
    padding-left: 20px;
    margin-bottom: 30px;
    @media (max-width: 992px){
        display: none;
    }
    ul{
        padding: 0px;
        li{
            list-style: none;
            float: left;
        }
    }
}
    
.img_icon{
    padding: 5px;
    margin: 20px;
    @extend %box-si;
    @extend %transit02;
    &:hover{
        transform: scale(1.1);
        @extend %transit02;
    }
}

.main_title{
    width: 300px;
    margin: auto;
    padding-left: 30px;
}

.footer_contact{
    display: map-get($group, dpflex);
    padding: 20px;
    justify-content: center;
    margin: 80px;
    gap: 75px;
    width: 80%;
    border: $brdr;
    background-color: $color-two;
    border-radius: map-get($group, radio10);
    @extend %box-si;
    @extend %transit02;
}
.img_footer{
    @extend %transit02;
    &:hover{
        @extend %hover_grow;
    }
}
.flex_contain{
    display: map-get($group, dpflex);
    justify-content: space-evenly;
    margin-bottom: 0px;
    gap: 50px;
    @media (max-width: 992px){
        margin-top: 35px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
.flexitem_1{
    margin-left: 60px;
    border: $brdr;
    background-color: $color-two;
    width: 520px;
    height: 250px;
    border-radius: 15px 15px 0 0;
    padding: 10px;
    @extend %box-si;
    text-shadow: 2px 4px 4px rgb(86, 103, 129, 1);
    overflow: hidden;
    @media (max-width: 992px){
        margin: auto;
        width: 80%;
        height: 500px;
        border-radius: 15px;
        align-items: center;
    }
}
.flexitem_1_p1{
    margin: -12px;
    padding: 10px;
    border: $brdr;
    width: 521px;
    overflow: hidden;
    @media (max-width: 992px){
        display: none;
    }
}
.flexitem_1_p2{
    p{
        height: 20px;
        margin-top: 20px;
    }
    @media (max-width: 992px){
        display: none;
    }
}
.flexitem_1_p3{
    @extend %d-none;
    @media (max-width: 992px){
        display: flex;
        text-align: center;
        font-size: 25px;
        margin-top: 3rem;
    }
}
.flexitem_1_img{
    margin-top: 2rem;
    animation-name: intro;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    @keyframes intro {
        0%{
            background-image: url('../imagenes/presentation1.png');
        }
        30%{
            background-image: url('../imagenes/presentation1.png');
        }
        35%{
            background-image: url('../imagenes/presentation2.png');
        }
        60%{
            background-image: url('../imagenes/presentation2.png');
        }
        65%{
            background-image: url('../imagenes/presentation3.png');
        }
        95%{
            background-image: url('../imagenes/presentation3.png');
        }
        100%{
            background-image: url('../imagenes/presentation1.png');
        }
    }
}
.flexitem_1_p4{
    @extend %d-none;
    @media (max-width: 992px){
        display: flex;
        margin-top: 4rem;
        justify-content: space-around;
    }
}
.media_btn_flex3{
    @extend %d-none;
    @media (max-width: 992px){
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 3rem;
    }
    button{
        @media (max-width: 992px){
            border: 2px solid rgb(153, 172, 201);
            border-radius: map-get($group, radio10);
            overflow: hidden;
            transition: 0.2s;
        }
        &:hover{
            transform: scale(1.05);
            @extend %transit02;
        }
    }
}
.flexitem_2{
    display: map-get($group, dpflex);
    justify-content: center;
    margin-right: 60px;
    padding: 5px;
    border: $brdr;
    background-color: $color-two;
    width: 340px;
    height: 250px;
    border-radius: map-get($group, radio10);
    @extend %box-si;
    object-fit: contain;
    @media (max-width: 992px){
        display: none;
    }
    img {
        width: 320px;
        height: 200px;
        border: $brdr;
        background-color: $color-two;
        border-radius: map-get($group, radio10);
    }
}
.flexitem_3{
    margin-left: 50px;
    margin-top: 20px;
    display: map-get($group, dpflex);
    border: $brdr;
    background-color: $color-two;
    padding: 10px;
    width: 620px;
    height: 120px;
    border-radius: map-get($group, radio10);
    @extend %box-si;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.flexitem3_text{
    font-size: 20px;
    display: inline;
    justify-content: space-around;
    text-shadow: $txt-shadow;
}
.flexitem3_img{
    margin-right: 20px;
}
.flexitem_3_div{
    display: map-get($group, dpflex);
    justify-content: space-around;
}
.flexitem_3_btn{
    @extend %transit02;
    &:hover{
        transform: scale(1.05);
        transition: 0.2s;
    }
}
.flexitem_4{
    margin-right: 55px;
    margin-top: 20px;
    border: $brdr;
    background-color: $color-two;
    width: 200px;
    height: 120px;
    border-radius: map-get($group, radio15);
    @extend %box-si;
    overflow: hidden;
    @media (max-width: 992px){
        display: none;
    }
}
.flexitem_3 {
    button{
        height: 100px;
        width: 100px;
        display: inline;
        border: 2px solid rgb(153, 172, 201);
        border-radius: map-get($group, radio10);
        overflow: hidden;
        img{
            margin: -10px;
        }
    }
    div{
        width: 80%;
        height: 120px;
        margin-left: -10px;
        padding: 15px 10px;
        input{
            margin-left: -5px;
            margin-top: -15px;
            width: 525px;
        }
    }
    @media (max-width: 992px){
        display: none;
    }
}
.footer_contact_index{
    @media (max-width: 992px){
        margin-top: 20px;
    }
}
/*-------------Responsive----------------*/
.responsive_nav{
    @extend %d-none;
    @media (max-width: 992px){
        display: block;
    }
}
.icon_mobile_portfolio{
    margin: 5px 20px;
}
.container_fluid_colorchange{
    margin: auto;
    width: 80%;
    background-color: $color-two;
    border: 3px solid $color-one;
    @extend %box-si;
    border-radius: 15px;
}
.mobile_myportfolio_title{
    font-size: 25px;
    transition: 0.5s;
    color: $color-one;
    text-shadow: $txt-shadow;
}

.selected{
    color:$color-one;
    font-weight: 700;
    @extend %transit02;
    &:hover{
        color: black;
        font-weight: bold;
        @extend %transit02;
    }
}
.no_selected{
    color: $color-one;
    font-weight: 400;
    @extend %transit02;
    &:hover{
        color:black;
        @extend %transit02;
    }
}
.nav-link_whitechange{
    color: $color-one;
    text-shadow: $txt-shadow;
}
.navbar_m_b{
    margin-right: 20px;
}
.navbar_m{
    background-image: nth($long, 1);
}