.skills_content{
    h1{
        margin-top: -1rem;
        text-shadow: $txt-shadow;
        text-align: center;
        @media (max-width: 992px){
            margin-top: 3px;
            font-size: 25px;
            text-shadow: $txt-shadow;
            text-align: center;
        }
    }
}
.carusel_container{
    border: $brdr;
    border-radius: 15px;
    margin: auto;
    width: 623px;
    box-sizing: border-box;
}
.prev_icon_mod{
    height: 50px;
    width: 50px;
    background-image: nth($long, 2);
}
.next_icon_mod{
    height: 50px;
    width: 50px;
    background-image: nth($long, 3);
}